.panel:hover {
  -webkit-box-shadow: 14px 20px 21px -1px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: 14px 20px 21px -1px rgba(0, 0, 0, 0.71);
  box-shadow: 14px 20px 21px -1px rgba(0, 0, 0, 0.71);
}
.panel-default > .panel-heading.green {
  background-color: #b6ff00;
}
.panel-default > .panel-heading.red {
  background-color: #d33636;
}
.buttons.disabled span {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.8;
}
.note.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.checkedNote {
  cursor: not-allowed;
  opacity: 0.5;
}
.refresher {
  cursor: default;
  opacity: 1;
}
.note-btn {
  margin-left: 10px;
}
.not-active {
  pointer-events: none;
  cursor: default;
}
.center {
  text-align: center;
}
.fullHeight {
  height: 100%;
}
html {
  margin: 0;
  height: 100%;
}
body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,bfc9c5+100,a1dbff+100 */
  background: #f0f9ff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f0f9ff 0%, #bfc9c5 100%, #a1dbff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f0f9ff 0%, #bfc9c5 100%, #a1dbff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f0f9ff 0%, #bfc9c5 100%, #a1dbff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f9ff', endColorstr='#a1dbff', GradientType=0);
  /* IE6-9 */
  height: 100%;
  margin: 0;
}
.page-header {
  border-bottom: 1px solid #bfc9c5;
}
hr {
  color: #000000;
}
.glyphicon.glyphicon-remove {
  font-size: 20px;
}
.glyphicon.glyphicon-ok {
  font-size: 20px;
}
.glyphicon.glyphicon-pencil {
  font-size: 20px;
}
.label.label-warning {
  font-size: 13.5px;
  text-align: center;
}
